<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/cards.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/cart.css" />
    <link rel="stylesheet" href="../styles/cart-modal.css" />
    <link rel="stylesheet" href="../styles/categories-modal.css" />
    <link rel="stylesheet" href="../styles/admin.css" />
    <title>Admin</title>
  </head>
  <body>
    <div class="options-admin">
      <button id="create">Create product</button>
      <button id="sales">View Sales</button>
    </div>
    <div class="card-container"></div>
    <form class="modify-product hidden-modal">
      <h2></h2>
      <input type="text" name="img" placeholder="Img URL" required />
      <input type="text" name="product" placeholder="Product name" required />
      <select name="type" id="">
        <option value="vegetablesFruit">Vegetables & Fruit</option>
        <option value="meats">Meats and Seafood</option>
        <option value="breakfast">Breakfast, Dairy and More</option>
        <option value="sauces">Sauces</option>
        <option value="drinks">Drinks</option>
        <option value="cleanliness">Cleanliness</option>
      </select>
      <input type="text" name="price" placeholder="Price" required />
      <input type="text" name="weight" placeholder="Weight" required />
      <div class="buttons-modify">
        <input
          type="button"
          value="Cancel"
          class="cancel-modify"
          id="cancel-modify"
        />
        <input
          type="submit"
          value="Modify Product"
          class="submit-modify"
          id="submit-modify"
        />
      </div>
    </form>
    <form class="create-product hidden-modal">
      <input type="text" name="img" placeholder="Img URL" required />
      <input type="text" name="product" placeholder="Product name" required />
      <select name="type" id="">
        <option value="vegetablesFruit">Vegetables & Fruit</option>
        <option value="meats">Meats and Seafood</option>
        <option value="breakfast">Breakfast, Dairy and More</option>
        <option value="sauces">Sauces</option>
        <option value="drinks">Drinks</option>
        <option value="cleanliness">Cleanliness</option>
      </select>
      <input type="text" name="price" placeholder="Price" required />
      <input type="text" name="weight" placeholder="Weight" required />
      <div class="buttons-modify">
        <input
          type="button"
          value="Cancel"
          class="cancel-modify"
          id="cancel-create"
        />
        <input
          type="submit"
          value="Create Product"
          class="submit-modify"
          id="cancel-submit"
        />
      </div>
    </form>
    <div class="sales-container hidden-modal">
      <h2>Bills</h2>
      <img class="close-sales-list" src="../imgs/cart/x.svg" alt="" srcset="" />
    </div>
  </body>
  <script src="../functionalities/admin.js" type="module"></script>
</html>
