.card-container {
  display: grid;
  margin-top: 50px;
  width: 85vw;
  min-height: 300px;
  grid-template-columns: repeat(auto-fill, 272px);
  gap: 30px;
  padding: 5px;
  background-color: #dddddd66;
  border-radius: 10px;
  margin-left: 6vw;
}

.title {
  margin-top: 50px;
  font-size: 30px;
  margin-left: 100px;
}

@media screen and (max-width: 970px) {
  .card-container{
    width: 90vw;
    overflow: auto;
    margin-top: 80px;
  }
}

@media screen and (max-width: 630px) {
  .card-container{
    width: 90vw;
    margin-top: 50px;
  }

  .title {
    margin-top: 200px;
  }
}